.feedback-item {
	background-color: white;
	/* height: 500px; */
	padding: 30px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.feedback {
	padding: 0 90px;
	margin-top: 20px;
}

/* Send Feedback */
.feedback-item h1 {
	text-align: center;
	margin-bottom: 20px;
}
.send-feedback {
	background-color: #f1f1f1;
	border-radius: 5px;
	padding: 20px;
	width: 100%;
	display: flex;
	width: 70%;
	margin: 0 auto;
}
.avt-feedback {
	display: flex;
}
.border-image {
	padding: 3px;
	background: linear-gradient(
		200deg,
		#da3394 25%,
		#e03c67 50%,
		#f3753b 75%,
		#f99b4a 100%
	);
	border-radius: 50%;
	margin-right: 10px;
}
.avt-feedback img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	object-fit: cover;
	border: 3px solid #fff;
	cursor: pointer;
}
.avt-feedback span {
	font-size: 15px;
	font-weight: 600;
}
.text-feedback {
	padding: 10px;
	width: 200px;
	flex-grow: 1;
}
.text-feedback textarea {
	padding: 10px;
	border-radius: 5px;
	font-size: 14px;
	width: 100%;
	height: 100px;
}
.text-feedback button {
	padding: 10px;
	border-radius: 5px;
	background-color: #349df3;
	float: right;
	margin-left: 10px;
}

/* Show list Feedback */

.show-feedback {
	padding: 20px 0;
	border-bottom: 2px solid rgb(128, 126, 126);
}
.info-desc-feedback {
	font-size: 15px;
	padding: 5px 68px;
}
.icon-star {
	display: flex;
}
.icon-star img {
	margin-top: 10px;
	width: 25px;
	height: 25px;
}
.anticon svg {
	font-size: 20px;
}
.edit-review {
	color: #349df3;
	margin-right: 20px;
	cursor: pointer;
}
.delete-review {
	color: rgb(255, 81, 81);
	cursor: pointer;
}
.date-review {
	color: #a3a2a2;
	font-size: 1.3rem;
	margin-bottom: 0;
	display: inline-block;
	padding-left: 10px;
	padding-top: 2px;
}
.handle-review {
	margin-top: 10px;
	padding-left: 70px;
}
.update-review:hover {
	background-color: rgb(125, 183, 250);
}
.views-image-feedback {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 20px;
	padding-top: 10px;
}
.views-image-feedback-item {
	width: 200px;
	height: 200px;
}
.views-image-feedback-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 2px;
}
