.form-loading {
	position: absolute;
	width: 100%;
	z-index: 100;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.458);
	display: flex;
	justify-content: center;
	align-items: center;
}
.loader {
	width: 120px;
	height: 75px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
}
.loader span {
	font-size: 30px;
	text-transform: uppercase;
	margin: auto;
	font-weight: 600;
	color: white;
}
.ball {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	/* background-color: black; */
	background-color: white;
	animation: bounce 0.5s alternate infinite;
}
.ball:nth-child(2) {
	animation-delay: 0.16s;
}
.ball:nth-child(3) {
	animation-delay: 0.32s;
}
@keyframes bounce {
	from {
		transform: scaleX(1.25);
	}
	to {
		transform: translateY(-50px) scaleX(1);
	}
}
