.profile-item {
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
	color: #333;
	display: flex;
	align-items: center;
	/* transition: all 0.5s ease-in; */
}

/* .purchase-item {
	padding: 10px;
	background-color: antiquewhite;
	border-radius: 5px;
	color: white;
	display: flex;
	align-items: center;
	transition: all 0.3s ease-in;
	background-color: #a5806d;
} */
/* .profile-item:hover {
	background-color: rgb(255, 118, 118);
}
.purchase-item:hover {
	
} */
.profile-item:hover {
	/* border-right: 5px solid #333; */
	background-color: rgb(255, 118, 118);
	color: white;
	transition: all 0.3s ease-in;
}
.user-dashboard .active .profile-item {
	background-color: rgb(255, 118, 118);

	color: white;
	/* border-right: 5px solid #333; */
}

.profile-item img {
	width: 25px;
	height: 25px;
	margin-right: 10px;
}
.purchase-item img {
	width: 25px;
	height: 25px;
	margin-right: 10px;
}
