.product-list {
	display: flex;
	/* align-items: flex-start; */
	/* justify-content: flex-start; */
	/* min-height: 100vh; */
	justify-content: space-between;
	flex-wrap: wrap;
}

.title-product-hot {
	font-size: 19px;
	font-weight: 600;
	background-color: #f56767;
	display: inline-block;
	padding: 10px 30px;
}
