html {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

input,
textarea,
select,
button {
	outline: none;
}

label,
button {
	cursor: pointer;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Open sans", sans-serif;
	/* line-height: 1; */

	overflow-x: hidden;
}

input,
button,
textarea,
select {
	font-family: "Open sans", sans-serif;
	outline: none;
	border: 0;
}
.hero-caption input {
	line-height: normal;
}

a {
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Raleway", sans-serif;
}

section[id] {
	scroll-margin-top: 30px;
}
.review-author {
	color: white;
}

.wrapper {
	max-width: 1920px;
	height: 720px;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url(../../../images/banner-bg.jpg) center/cover no-repeat fixed;
	/* display: flex;
	flex-direction: column;
	justify-content: stretch; */
}

.container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 15px;
}

.header-logo {
	/* width: 100px; */
	height: 60px;
	object-fit: cover;
}

.about-image img {
	-webkit-transform: scale(0.7);
	transform: scale(0.7);
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	cursor: pointer;
}

.about-image:hover img {
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}

.about-phone-under {
	border-radius: 10px;
	/* border: 4px solid #fff; */
	box-shadow: rgb(255, 255, 255) 0px 3px 10px;
}

.btn {
	text-align: center;
	font-weight: bold;
	height: 55px;
	padding: 0 70px;
	display: inline-flex;
	align-items: center;
	border-radius: 4px;
}
.btn--primary {
	color: white;
	background-image: linear-gradient(to right, #f56766, #f58826);
}
.feature-icon img {
	width: 150px;
	height: 150px;
}
.menu-home-item {
	position: relative;
}

/*  */
.banner1 {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
}

.banner1 form {
	background: #fff;
	border-radius: 2rem;
	/* padding: 2rem 1rem; */
	display: flex;
	justify-content: space-between;
	margin-top: 1.4rem;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.search-input {
	font-size: 15px;
	width: 100%;
	outline: 0;
	padding: 20px;
	border: none;
	border-radius: 37%;
}
/*  */
.menu-home-item::before {
	content: "";
	position: absolute;
	/* background-color: red; */
	background-image: linear-gradient(to left, #fc6c8f, #ff2ced);
	height: 3px;
	width: 0;
	bottom: -10px;
	transition: 0.3s;
}
.menu-home-link:hover {
	color: white;
}
.menu-home-item:hover::before {
	width: 100%;
}
@media screen and (max-width: 767px) {
	.btn {
		height: 45px;
		padding: 0 50px;
		font-size: 14px;
	}
}

section {
	display: none;
}

.caption {
	text-transform: uppercase;
	font-weight: bold;
	color: #333;
	margin-bottom: 10px;
	font-size: 30px;
}

.heading {
	font-size: 36px;
	font-weight: 800;
	color: white;
	line-height: 1.5555555556;
	margin-bottom: 30px;
}
.heading--big {
	font-size: 60px;
}

.text {
	line-height: 1.8888888889;
}
.text--big {
	font-size: 24px;
}

@media screen and (max-width: 1023px) {
	.caption {
		margin-bottom: 10px;
	}

	.heading {
		margin-bottom: 20px;
	}
	.heading--big {
		font-size: 40px;
	}
}
@media screen and (max-width: 767px) {
	.caption {
		font-size: 16px;
		margin-bottom: 5px;
	}

	.heading {
		font-size: 26px;
		margin-bottom: 15px;
	}

	.text--big {
		font-size: 20px;
	}

	body {
		font-size: 16px;
	}
}
.header {
	background-color: rgba(0, 0, 0, 0.214);
}
.header-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 0;
}
.header-tool {
	display: flex;
	align-items: center;
	gap: 0 50px;
}

@media screen and (max-width: 1599px) {
	.header-main {
		padding: 20px 0;
	}
}

.menu-home-list {
	display: flex;
	align-items: center;
	list-style: none;
	gap: 0 50px;
	margin-bottom: 0;
}

.menu-home-link {
	font-weight: 600;
	color: white;
}
@media screen and (max-width: 1023px) {
	.menu {
		position: fixed;
		right: 0;
		top: 0;
		bottom: 0;
		width: 300px;
		background-color: white;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
		z-index: 99;
		transform: translateX(100%);
		transition: 0.25s linear;
	}
	.menu.is-active {
		transform: translateX(0);
	}
	.menu-list {
		flex-direction: column;
		height: 100%;
		padding: 50px 20px;
	}
	.menu-home-item {
		width: 100%;
		margin-bottom: 15px;
	}
	.menu-home-link {
		display: block;
		width: 100%;
		padding: 15px 20px;
		color: #393e46;
		border-radius: 4px;
		transition: all 0.2s ease;
	}
	.menu-home-link:hover {
		color: #333;
		background-color: #f56766;
	}
}

.hero {
	display: block;
	padding: 270px 0 380px;
	/* color: white; */
	color: #333;
}
.hero-heading {
	text-transform: uppercase;
	font-weight: 800;
	font-size: 120px;
	margin-bottom: 15px;
	color: #353535;
	/* transform: skewY(-4deg); */
	text-shadow: #f9f9f9 4px 4px, #696969 8px 8px;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}

.hero-caption {
	padding: 10px 0 20px 0;
	font-size: 18px;
	text-transform: capitalize;
	font-weight: 600;
	word-spacing: 2px;
	color: white;
}

.hero-video {
	display: inline-flex;
	align-items: center;
	font-weight: 600;
	font-size: 18px;
	background-color: white;
	padding: 8px;
	border-radius: 10px;
}
.hero-video span:first-child {
	margin-right: 10px;
}
@media screen and (max-width: 1599px) {
	.hero {
		padding: 50px 0 0px;
	}
}
@media screen and (max-width: 1279px) {
	.hero {
		padding: 70px 0;
	}
}
@media screen and (max-width: 1023px) {
	.hero {
		padding: 40px 0;
	}
	.hero-heading {
		font-size: 70px;
	}
	.hero-caption {
		font-size: 25px;
		margin-bottom: 30px;
	}
}
@media screen and (max-width: 1023px) {
	.hero {
		padding: 20px 0;
	}
	.hero-heading {
		font-size: 40px;
	}
	.hero-caption {
		font-size: 18px;
		margin-bottom: 30px;
	}
	.hero-video img {
		max-width: 40px;
	}
}

.feature {
	padding: 150px 0 200px;
	display: block;
}
.feature-main {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0 30px;
}
.feature-item {
	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
	border-radius: 4px;

	background-color: #626262;
	padding: 20px 40px;
}
.feature-icon {
	margin-bottom: 35px;
}
.feature-title {
	color: white;
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 20px;
}
.feature-desc {
	color: white;
}
@media screen and (max-width: 1599px) {
	.feature {
		padding: 290px 0 30px;
	}
}
@media screen and (max-width: 1023px) {
	.feature {
		padding: 50px 0 100px;
	}
	.feature-main {
		display: grid;
		justify-content: flex-start;
		grid-auto-columns: 300px;
		grid-auto-flow: column;
		grid-gap: 1.5rem;
		overflow: auto;
		overflow-y: hidden;
		scroll-snap-type: x mandatory;
		scroll-snap-stop: always;
		-ms-touch-action: manipulation;
		touch-action: manipulation;
		-webkit-overflow-scrolling: touch;
		scroll-padding: 1rem;
		grid-template-columns: unset;
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
	.feature-main::-webkit-scrollbar {
		display: none;
		width: 0;
	}
	.feature-main > * {
		scroll-snap-align: start;
	}
}

.about {
	padding-bottom: 90px;
	display: block;
}
.about .container {
	position: relative;
}
.about-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.about-content {
	max-width: 470px;
}
.about-content .caption {
	font-size: 24px;
}
.about-content .text {
	font-size: 20px;
}
.about-phone {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
	max-width: initial;
}
.about-image {
	position: relative;
}
@media screen and (max-width: 1279px) {
	.about {
		padding-bottom: 100px;
	}
	.about-main {
		flex-direction: column;
	}
	.about-content {
		max-width: 600px;
		text-align: center;
		margin-bottom: 40px;
	}
}
@media screen and (max-width: 767px) {
	.about-image {
		width: 100%;
	}
	.about-phone {
		max-width: 100%;
	}
	.about-phone-under {
		max-width: 300px;
		margin: 0 auto;
	}
}

.work {
	padding-bottom: 190px;
	display: block;
}
.work-header {
	text-align: center;
	max-width: 490px;
	margin: 0 auto 40px;
}
.work-header .text {
	font-size: 18px;
}

/* card-outstanding */
.card-outstanding {
	overflow: hidden;
	position: relative;
	width: 300px;
	height: 300px;
	border-radius: 7px;
	cursor: pointer;
}
.card-outstanding img {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 200ms;
}
.card-outstanding::after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
}
.card-outstanding:hover img {
	transform: scale(1.05);
}
.card-outstanding span {
	position: absolute;
	bottom: 0;
	padding: 25px 20px;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 1;
	color: white;
	font-weight: 600;
	width: 100%;
	font-size: 16px;
	text-align: right;
	text-transform: uppercase;
}
.card-outstanding-flex {
	--columns: 4;
	--gap: 20px;
	display: grid;
	grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
	grid-gap: var(--gap);
}
.card-outstanding-see-more {
	display: flex;
	align-items: center;
	gap: 10px;
	padding-top: 20px;
	justify-content: flex-end;
}
.card-outstanding-see-more a {
	font-size: 17px;
}
.card-outstanding-see-more a:hover {
	cursor: pointer;
	color: #f56766;
}
.card-outstanding-see-more img:hover {
	cursor: pointer;
}
.card-outstanding-see-more img {
	width: 30px;
	height: 30px;
	object-fit: cover;
}
/*  */
.work-list {
	margin-bottom: 60px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	grid-template-rows: 370px 180px 370px;
}
.work-item {
	border-radius: 8px;
}
.work-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: inherit;
	cursor: pointer;
}
.work-item:nth-child(2) {
	grid-row: 1/3;
	grid-column: 2/3;
}
.work-item:nth-child(3) {
	grid-row: 2/4;
	grid-column: 1/2;
}
.work-link {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
@media screen and (max-width: 1599px) {
	.work {
		padding-bottom: 100px;
	}
}
@media screen and (max-width: 1023px) {
	.work-header {
		margin-bottom: 50px;
	}
}
@media screen and (max-width: 1023px) {
	.work-list {
		grid-template-rows: 100px 50px 100px;
		margin-bottom: 30px;
	}
}

.experience {
	padding-bottom: 200px;
	display: block;
}
.experience-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0 70px;
}
.experience-year {
	position: relative;
	z-index: 2;
	/* background: url("../images/img7.png") no-repeat 50%; */
	color: white;
	-webkit-background-clip: text;
	background-clip: text;
}
.experience-mask {
	display: none;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	pointer-events: none;
}
.experience-number {
	font-size: 400px;
	font-weight: 800;
	color: #f56766;
	position: relative;
	flex: 1;
	text-align: center;
}
.experience-dots {
	position: absolute;
	right: -20px;
	top: 50%;
}
.experience-content {
	max-width: 470px;
	margin-left: auto;
	flex-shrink: 0;
}
@media screen and (max-width: 1599px) {
	.experience {
		padding-bottom: 100px;
	}
}
@media screen and (max-width: 1023px) {
	.experience-main {
		flex-direction: column;
		gap: 40px 0;
	}
	.experience-number {
		font-size: 200px;
	}
	.experience-content {
		max-width: 600px;
		text-align: center;
		margin: 0 auto;
		position: relative;
		z-index: 5;
	}
}

.partner {
	padding-bottom: 200px;
	display: block;
}
.partner-header {
	margin-bottom: 95px;
	text-align: center;
}
.partner-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr 1fr;
	grid-gap: 25px;
}
.partner-item {
	background-color: #2b3139;
	border-radius: 4px;
	padding: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.partner-item:hover img {
	opacity: 0.3;
}
@media screen and (max-width: 1599px) {
	.partner {
		padding-bottom: 100px;
	}
}
@media screen and (max-width: 767px) {
	.partner-header {
		margin-bottom: 40px;
	}
	.partner-list {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
	}
}

.review {
	padding-bottom: 190px;
	display: block;
}
.review-header {
	max-width: 500px;
	margin: 0 auto 60px;
	text-align: center;
}
.review-item {
	max-width: 840px;
	margin: 0 auto;
	border-radius: 8px;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #222831;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	padding: 75px 100px 60px;
	position: relative;
}
.review-icon {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 0;
}
.review-desc {
	color: white;
	font-size: 30px;
	line-height: 1.6;
	margin-bottom: 40px;
}
.review-avatar {
	width: 80px;
	height: 80px;
	border-radius: 100rem;
	object-fit: cover;
	margin-bottom: 20px;
}
@media screen and (max-width: 1599px) {
	.review {
		padding-bottom: 100px;
	}
}
@media screen and (max-width: 767px) {
	.review-item {
		padding: 50px 25px;
	}
	.review-desc {
		font-size: 18px;
		margin-bottom: 20px;
	}
	.review-avatar {
		width: 40px;
		height: 40px;
	}
}

.contact {
	margin-bottom: -300px;
	display: block;
}
.contact-main {
	padding: 135px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	/* background: url("../images/img9.png") no-repeat center; */
	background-color: #1e242e;
	border-radius: 12px;
	position: relative;
}
.contact-person {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
}
.contact-liquid {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 100px;
	pointer-events: none;
}
.contact-content {
	max-width: 500px;
	margin: 0 auto;
	position: relative;
	z-index: 9;
}
.contact-desc {
	margin-bottom: 60px;
}
@media screen and (max-width: 1023px) {
	.contact {
		margin-bottom: -190px;
	}
	.contact-main {
		padding: 50px 20px;
	}
	.contact-desc {
		margin-bottom: 40px;
		color: white;
	}
}

.footer-top {
	padding: 80px 0px 30px;
	background-color: #3f3f3f9c;
	/* background-image: url("https://img.freepik.com/free-photo/trendy-stylish-office-studio-workspace-interior-design-with-computer-decor-wood-table_67155-22063.jpg?w=1380");
	background-repeat: no-repeat;
	background-size: cover; */
}
.footer-main {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0 130px;
}
.footer-column:nth-child(2) {
	text-align: center;
}
.footer-icon {
	width: 40%;
	margin-bottom: 20px;
}
.footer-logo {
	display: inline-block;
	margin-bottom: 40px;
}
.footer-desc {
	font-size: 16px;
	margin-bottom: 40px;
	line-height: 1.875;
}
.footer .social {
	display: flex;
	align-items: center;
	gap: 0 30px;
}
.footer .social-item {
	cursor: pointer;
	color: #6a727f;
}
.footer .social-item:hover {
	color: white;
}
.footer-heading {
	font-size: 18px;
	color: #333;
	margin-bottom: 40px;
	font-weight: bold;
}
.footer-links {
	list-style: none;
}
.footer-item {
	margin-bottom: 30px;
}
.footer-link {
	display: inline-block;
	/* color: #6a727f; */
	color: black;
	font-size: 14px;
}
.footer-info {
	list-style: none;
	margin-bottom: 40px;
}
.footer-info li {
	margin-bottom: 15px;
	line-height: 1.875;
	font-size: 14px;
}
.footer-highlight {
	color: white;
}
.footer-bottom {
	background-color: #222831;
	line-height: 1.6;
}
.footer-bottom a {
	color: white;
}
.footer-container {
	padding-top: 60px;
	padding-bottom: 60px;
	position: relative;
}
.footer-rocket {
	color: white;
	border-radius: 4px;
	width: 70px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to right, #f56766, #f58826);
	font-size: 20px;
	position: absolute;
	top: 0;
	right: 0;
	transform: translateY(-50%);
	z-index: 2;
}
@media screen and (max-width: 1023px) {
	.footer-top {
		padding: 250px 0 100px;
	}
	.footer-main {
		grid-gap: 0 30px;
	}
}
@media screen and (max-width: 767px) {
	.footer-top {
		padding: 250px 0 50px;
	}
	.footer-main {
		grid-template-columns: 1fr;
		grid-gap: 30px 0;
	}
	.footer-container {
		padding: 35px 15px;
	}
	.footer-rocket {
		width: 50px;
		height: 50px;
		right: 15px;
	}
}
