.header-background {
	/* background-color: #a19f9f9c; */
	/* background-color: #969696; */
	font-size: 18px;
	border-bottom: 3px solid #cdcdcd;
	margin-bottom: 10px;
	background-color: white;
}
.icon-shop {
	width: 28px;
	height: 28px;
}

.card-shop {
	/* position: relative; */
	display: flex;
}
.header-icon-number {
	position: relative;
}
.header-icon-like {
	position: relative;
}

.number-product {
	position: absolute;
	color: white;
	top: 0;
	right: 0;
	z-index: 2;
	font-size: 13px;
	font-weight: 600;
	transform: translateX(50%);
}

.header-icon-number::after {
	position: absolute;
	content: "";
	font-size: 13px;
	background-color: rgb(255, 146, 146);
	top: 0;
	right: 0;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	transform: translateX(10px);
}
.header-icon-like::after {
	position: absolute;
	content: "";
	font-size: 13px;
	background-color: rgb(255, 146, 146);
	top: 0;
	right: 0;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	transform: translateX(10px);
}

.header-padding {
	padding: 10px 0;
}

.header-icon-like {
	margin-right: 20px;
}
.name-role {
	font-weight: 600;
}
.name-user {
	padding-left: 10px;
}
.icon-role {
	width: 29px;
	height: 29px;
	display: inline-block;
}
.header-icon-role {
	display: flex;
	cursor: pointer;
}
.role-login {
	padding: 10px;
	background-color: #3ea4f8;
	border-radius: 8px;
	color: white;
}
.role-resgister {
	color: white;
	padding: 10px;
	margin-left: 10px;
	background-color: #3ea4f8;
	border-radius: 8px;
}
.role-resgister:hover {
	color: white;
}
.role-login:hover {
	color: white;
}
