.header-background {
	/* background-color: #a19f9f9c; */
	/* background-color: #969696; */
	margin-bottom: 10px;
	font-size: 18px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}
.icon-shop {
	width: 28px;
	height: 28px;
}

.card-shop {
	/* position: relative; */
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-icon-number {
	position: relative;
}
.header-icon-like {
	position: relative;
}

.number-product {
	display: block;
	position: absolute;
	color: white;
	background-color: red;
	padding: 2px 6px;
	top: 0;
	right: 0;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	transform: translate(10px, -5px);
	border-radius: 50%;
	line-height: 18px;
}

.header-padding {
	padding: 10px 0;
}

.header-icon-like {
	margin-right: 20px;
}
.name-role {
	font-weight: 600;
}
.name-user {
	padding-left: 10px;
}
.icon-role {
	width: 29px;
	height: 29px;
	display: inline-block;
}
.header-icon-role {
	margin-left: 20px;
	width: 50px;
	height: 50px;
	padding: 3px;
	background: linear-gradient(
		200deg,
		#da3394 25%,
		#e03c67 50%,
		#f3753b 75%,
		#f99b4a 100%
	);
	border-radius: 50%;
	margin-right: 10px;
}
.header-icon-role img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 100%;
	cursor: pointer;
	border: 3px solid #fff;
}
.role-login {
	padding: 10px;
	background-color: #3ea4f8;
	border-radius: 8px;
	color: white;
}
.role-resgister {
	color: white;
	padding: 10px;
	margin-left: 10px;
	background-color: #3ea4f8;
	border-radius: 8px;
}
.role-resgister:hover {
	color: white;
}
.role-login:hover {
	color: white;
}
.bell-noti-icon {
	width: 22px;
	height: 22px;
}
.bell-noti {
	cursor: pointer;
	font-size: 5rem;
	color: #ccc;
	position: relative;
	display: inline-block;
	margin-left: 20px;
	padding: 8px;
	border-radius: 50px;
	background: linear-gradient(145deg, #e6e6e6, #ffffff);
	box-shadow: 18px 18px 37px #d9d9d9, -18px -18px 37px #ffffff;
}
.item-message {
	cursor: pointer;
	background-color: rgb(218, 216, 216);
	padding: 8px;
	border-radius: 50px;
	background: linear-gradient(145deg, #e6e6e6, #ffffff);
	box-shadow: 18px 18px 37px #d9d9d9, -18px -18px 37px #ffffff;
}
.mess-margin-left {
	margin-left: 30px;
}
.bell-noti-icon:hover {
	animation: ring 0.25s forwards alternate infinite linear;
}
.bell-noti-status {
	width: 1rem;
	height: 1rem;
	border-radius: 1rem;
	background-color: var(--secondary);
	position: absolute;
	right: 0;
	top: 0;
}
@keyframes ring {
	from {
		transform: rotate(-10deg);
	}
	to {
		transform: rotate(10deg);
	}
}
