.header-background {
	/* background-color: #a19f9f9c; */
	background-color: #a5806d;
	font-size: 18px;
}
.icon-shop {
	width: 28px;
	height: 28px;
}

.card-shop {
	position: relative;
	display: flex;
}

.number-product {
	position: absolute;
	color: white;
	top: 0;
	right: 0;
	z-index: 2;
	font-size: 13px;
	transform: translate(5px, 5px);
	font-weight: 600;
}

.card-shop::after {
	position: absolute;
	content: "";
	font-size: 13px;
	background-color: rgb(255, 146, 146);
	top: 0;
	right: 0;
	width: 18px;
	height: 18px;
	border-radius: 40%;
	transform: translateX(10px);
}

.header-padding {
	padding: 7px 0;
}

.header-icon-like {
	margin-right: 20px;
}
