.title-update-password {
	display: block;
	font-size: 1.5rem;
	padding-bottom: 5px;
}
.current-password input {
	padding: 10px;
	border-radius: 6px;
	border: 1px solid rgb(185, 185, 185);
	width: 100%;
	font-weight: 600px;
}
.new-password input {
	padding: 10px;
	border-radius: 6px;
	border: 1px solid rgb(185, 185, 185);
	width: 100%;
	font-weight: 600px;
}
.confirm-new-password input {
	padding: 10px;
	border-radius: 6px;
	border: 1px solid rgb(185, 185, 185);
	width: 100%;
	font-weight: 600px;
}
.new-password,
.current-password,
.confirm-new-password {
	margin-bottom: 15px;
}
.handle-update-password {
	display: flex;
	justify-content: space-between;
	padding: 20px 20px;
}
.btn-update-password-update {
	padding: 10px 30px;
	border-radius: 5px;
	color: white;
	background-color: #22b5e6;
}
.btn-update-password-cancel {
	padding: 10px 30px;
	border-radius: 5px;
	background-color: #f85353;
	color: white;
}
