.resgister {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.resgister-form {
	width: 50%;
	padding: 40px 100px;
}
.resgister-header {
	text-align: center;
	font-size: 1.4rem;
	font-weight: 400;
	margin-bottom: 30px;
}
.resgister-content {
	margin-top: 20px;
}
.fill-userName {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}
.fill-userName {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}
.resgister-title {
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(
		to right top,
		#aebfd8,
		#97ade2,
		#8c99e7,
		#9080e7,
		#9f61de
	);
}
.input-userName {
	padding: 10px;
	border-radius: 5px;
	border: none;
	border: 1px solid rgb(202, 201, 201);
	outline: none;
	font-size: 1.5rem;
}
.title-userName {
	font-size: 1.4rem;
	font-weight: 600;
	color: rgb(97, 97, 97);
	margin-bottom: 10px;
}
.fill-password,
.fill-confirm-password {
	display: flex;
	flex-direction: column;
}
.fill-confirm-password {
	margin-top: 20px;
}
.input-password,
.input-confirm-password {
	padding: 10px;
	border-radius: 5px;
	border: none;
	font-size: 1.5rem;
	border: 1px solid rgb(202, 201, 201);
	outline: none;
}
.title-password,
.title-confirm-password {
	margin-bottom: 10px;
	font-size: 1.4rem;
	font-weight: 600;
	color: rgb(97, 97, 97);
}
.btn-resgister {
	margin-top: 20px;
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	font-size: 1.6rem;
	border: none;
	border-radius: 10px;
	font-weight: 400;
	color: white;
	background-color: #42a5f7;
	cursor: pointer;
	position: relative;
}
.create-account {
	color: #e23c6e;
	margin-left: 10px;
	font-size: 1.4rem;
}
.have-account {
	font-size: 1.4rem;
}
.resgister-info {
	font-size: 1.4rem;
	color: #6e6e6e;
}
