@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

.product-category {
	margin-top: 30px;
	margin-bottom: 100px;
	padding: 0 30px;
}
.title-category {
	padding: 20px;
	border-bottom: 2px solid #d5d5d5;
	margin-bottom: 10px;
}
.title-category h1 {
	margin-bottom: 0;
	font-size: 6rem;
	text-align: center;
	font-family: "Courgette", cursive;
}
.Category-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.link-product {
	margin-top: 10px;
	padding: 16px 0;
	background-color: #a5806d;
	border: 2px solid #a5806d;
	display: block;
	text-align: center;
	border-radius: 5px;
	font-size: 17.5px;
	font-weight: 600;
	color: white;
	transition: all 0.4s ease-in-out;
}
.link-product:hover {
	color: #333;
	background-color: white;
}
.category-img {
	width: 350px;
	padding: 10px;
	cursor: pointer;
}
.category-item img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
.category-item:hover img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
