.form-payment {
	padding: 30px 20px;
	background-color: white;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: 5px;
	flex: 1;
	/* height: 200px; */
	/* max-height: 335px; */
	max-height: 450px;
}

.desc-order-user h3 {
	font-weight: 600;
	font-size: 16px;
	text-transform: uppercase;
}
.desc-order-address h3 {
	font-weight: 600;
	font-size: 16px;
	text-transform: uppercase;
}
.desc-order-address {
	border-bottom: 1px solid #333;
	padding: 10px 0;
}
.payment-product {
	padding: 20px 0;
	font-weight: 600;
}
.discount-product {
	font-weight: 600;
}
.discount-product,
.price-product {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.discount-product h3 {
	font-size: 14px;
	color: #bbbbbb;
}
.price-product h3 {
	font-size: 14px;
	color: #bbbbbb;
}
.btn-payment-price button {
	padding: 10px;
	background-color: rgb(255, 111, 111);
	color: white;
	border-radius: 5px;
	width: 100%;
}
.btn-payment-price button:hover {
	background-color: rgb(253, 63, 63);
}

.background-loading-center {
	padding-top: 8px;
	text-align: center;
}
.handle-discount h3 {
	color: rgb(252, 56, 56);
	font-weight: 600;
	font-size: 1.4rem;
	cursor: pointer;
}
