/* form category */
.form-category {
	display: flex;
	padding: 30px 30px;
	background-color: #f4f4f4;
}
.sidebar-product {
	flex: 0.9 1;
	background-color: white;
	padding: 20px;
	box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
	border-radius: 5px;
}
.siderbar-show-product {
	padding: 20px;
	flex: 4 1;
	background-color: white;
	margin-left: 20px;
	box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
	border-radius: 5px;
}
.menu-item-product {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	padding: 10px;
}

.icon-handel img {
	width: 20px;
	height: 20px;
	transition: all 0.3s ease-in;
}
.menu-link {
	color: #333;
	font-size: 15px;
	font-weight: 700;
}

/* show-item-product */
.show-item-product {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.item-flex {
	margin: 0 3px;
}
.sub-item-product {
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Search-Item */
.simple-search {
	width: 30%;
	display: flex;
}
.simple-search button {
	padding: 15px;
	color: white;
	flex-shrink: 0;
	border-radius: 8px;
	background-color: #fc8383;
	margin-left: 15px;
}
.simple-search input {
	width: 100%;
	padding: 15px;
	background-color: #fafafa;
	border-radius: 8px;
	-webkit-appearance: none;
	font-size: 14px;
	font-weight: 500;
	border: 1px solid #cdcdcd;
}
.img-search {
	width: 20px;
	height: 20px;
}
