.data-statistic-user {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.container-statistic-items {
	padding: 1.5rem 2.5rem;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	background-image: linear-gradient(to right top, #26dec8, #00d4e0);
	width: 23rem;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	transition: color 0.5s ease 0s;
	margin-bottom: 30px;
}
.container-statistic-items span {
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 25px;
	position: relative;
	z-index: 1;
}

.statistics-count {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 4rem;
}
/* .data-statistic-user:hover {
	background-color: rgba(204, 203, 203, 0.87);
} */

.data-statistic-user img {
	width: 5rem;
	height: 5rem;
	transition: all 0.4s ease-in;
}
.container-statistic-items:hover img {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.data-statistic-user h2 {
	font-size: 5rem;
	margin-bottom: 0;
	color: white;
	z-index: 1;
}
/* calendar */
.first-part-statistics {
	display: flex;
	margin-top: 2rem;
}
.site-calendar-demo-card {
	width: 50%;
	border: 1px solid #f0f0f0;
	border-radius: 2px;
}
.ant-picker-cell .ant-picker-cell-inner {
	border-radius: 50%;
}
.ant-picker-cell-in-view.ant-picker-cell-selected {
	border-radius: 50%;
}
.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
	border-radius: 50%;
}
.title-graph {
	text-transform: uppercase;
	font-weight: 600;
}
.graph-product {
	margin-bottom: 20px;
}
.container-statistic-items::before {
	content: "";
	width: 100%;
	padding-top: 100%;
	border-radius: 50%;
	/* background-image: linear-gradient(to top right, #333, #f14d4d); */
	background-image: linear-gradient(
		to right top,
		#66e3f1,
		#5ac7ff,
		#aa9df9,
		#e56ab3,
		#e34e4e
	);
	position: absolute;
	left: -50%;
	top: 50px;
	transform: scale(0);
	transition: transform 0.8s ease 0s;
}
.container-statistic-items:hover::before {
	transform: scale(3);
}
