.login {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(
		to right top,
		#d16ba5,
		#c877ba,
		#bb84cc,
		#ac91db,
		#9c9de5,
		#89a8ef,
		#74b3f5,
		#5fbdf7,
		#3ac8f8,
		#02d3f2,
		#00dce7,
		#32e4d8
	);
}

.login-form {
	width: 100%;
	max-width: 45rem;
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 12px;
	border: 1px solid rgba(209, 213, 219, 0.3);
	padding: 40px;
}
.login-header {
	text-align: center;
	font-size: 1.4rem;
	font-weight: 400;
	margin-bottom: 30px;
}
.login-content {
	margin-top: 20px;
}
.fill-email {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}
.login-title {
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(
		to right top,
		#aebfd8,
		#97ade2,
		#8c99e7,
		#9080e7,
		#9f61de
	);
}
.input-email {
	padding: 10px;
	border-radius: 5px;
	border: none;
	border: 1px solid rgb(202, 201, 201);
	outline: none;
	font-size: 1.5rem;
}
.title-email {
	font-size: 1.4rem;
	font-weight: 600;
	color: rgb(97, 97, 97);
	margin-bottom: 10px;
}
.fill-password {
	display: flex;
	flex-direction: column;
}

.input-password {
	padding: 10px;
	border-radius: 5px;
	border: none;
	font-size: 1.5rem;
	border: 1px solid rgb(202, 201, 201);
	outline: none;
	width: 100%;
}
.custom-input-password {
	position: relative;
}
.show-password {
	width: 30px;
	height: 30px;
	position: absolute;
	cursor: pointer;
	top: 50%;
	right: 0;
	transform: translate(-50%, -50%);
}
.title-password {
	margin-bottom: 10px;
	font-size: 1.4rem;
	font-weight: 600;
	color: rgb(97, 97, 97);
}
.login-handel {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.fill-remember {
	display: flex;
	align-items: center;
}
.title-remember {
	font-size: 1.5rem;
	color: rgb(97, 97, 97);
	margin-left: 8px;
}
.title-forget {
	color: #f85858;
	font-size: 1.5rem;
	font-weight: 600;
}
.btn-login {
	position: relative;
	margin-top: 20px;
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	font-size: 1.6rem;
	border: none;
	border-radius: 10px;
	font-weight: 400;
	color: white;
	background-color: #42a5f7;
	cursor: pointer;
}
.create-account {
	color: #e23c6e;
	margin-left: 10px;
	font-size: 1.4rem;
}
.not-register {
	font-size: 1.4rem;
}
.login-info {
	font-size: 1.4rem;
	color: #6e6e6e;
}
.icon-resgister {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	width: 30px;
	height: 30px;
}
