.avatar-status {
	position: relative;
	width: 50px;
	height: 50px;
}
.avatar-status ._status {
	width: 15px;
	height: 15px;
	border-radius: 100rem;
	background-color: #13d2b8;
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
	box-shadow: 0 0 0 2px white;
}
.image-cover {
	border-radius: 50%;
	width: 50px;
	height: 50px;
}
.action-lock {
	padding: 5px;
	background-color: #46c4ff;
	border-radius: 8px;
}
.action-lock img {
	width: 30px;
	height: 30px;
}
.title-admin {
	padding: 10px;
	font-weight: 600;
	display: inline-block;
	border-bottom: 2px solid #333;
}
.btn-add-category {
	padding: 10px;
	border-radius: 5px;
	background-color: rgb(253, 93, 93);
	color: white;
}

/* alert delete */
.custom-delete h1 {
	text-transform: uppercase;
	color: rgb(250, 71, 71);
	font-size: 1.8rem;
	font-weight: 600;
	text-align: center;
}
.custom-delete span {
	padding: 10px;
	text-align: center;
	display: block;
}
.button-handle {
	position: absolute;
	bottom: 0;
	padding: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: space-between;
	display: flex;
	align-items: center;
}
.btn-delete-user {
	padding: 10px 20px;
	background-color: rgb(255, 118, 100);
	color: white;
	border-radius: 5px;
	margin-left: 5rem;
}
.btn-delete-cancel {
	padding: 10px 20px;
	background-color: #46c4ff;
	color: white;
	border-radius: 5px;
}
.loading-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
