.title-profile-user {
	padding: 10px 0;
	border-bottom: 2px solid #d5d5d5;
}
.title-profile-user h2 {
	font-weight: 600;
}
.info-profile {
	padding: 20px 30px;
	display: flex;
	justify-content: space-between;
}
.info-profile-left {
	font-size: 15px;
	width: 50%;
	/* flex: 1; */
	display: flex;
	flex-direction: column;
}
.info-item {
	margin-bottom: 20px;
}
.info-item h3 {
	color: #777575;
	margin-bottom: 0;
	display: inline-block;
	width: 200px;
}
.avt-profile-right {
	/* padding: 20px 20px; */
	padding-left: 10px;
	border-left: 2px solid #d5d5d5;
}
.avt-profile-right img {
	object-fit: cover;
	width: 27rem;
	height: 27rem;
	border-radius: 10px;
}
.button-update {
	display: inline-block;
}
.button-update-password {
	display: inline-block;
}
.btn-update-password {
	padding: 10px 20px;
	border-radius: 5px;
	background-color: #25bdf0;
	color: white;
	transition: all 0.3s ease-in-out;
	font-weight: 600;
}
.btn-update-password:hover {
	background-color: #11a4d4;
}
.btn-update-profile {
	padding: 10px 20px;
	border-radius: 5px;
	background-color: rgb(250, 110, 110);
	color: white;
	transition: all 0.3s ease-in-out;
	font-weight: 600;
	margin-right: 20px;
}
.btn-update-profile:hover {
	background-color: rgb(235, 18, 18);
}
